

html {
    
    background : #26292e;
    padding : 16px 12px;
    font-family: 
}

#messages {
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction : column;
    gap : 8px;
}

#messages > * {
    background-color : white;
    border-radius : 6px;
    width : 100%;
    height : fit-content;
    padding : 4px 8px;
    font-family : Roboto , 'Ubuntu' , sans-serif;
}